@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

/* section 1*/

    .section-1 .title{
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 1180px){

/* cection 1*/

    .section-1 .title-site-box{
        padding-top: 105px;
    }

    .section-6 .carusel-small .owl-nav .owl-next{
        right: 40px;
    }
    .section-6 .carusel-small .owl-nav .owl-prev{
        left: 40px;
    }
    .section-6 .owl-carousel .owl-prev{
        border-top: solid 4px #fff;
        border-left: solid 4px #fff;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: -5px -6px 8px rgba(239, 238, 237, 0.4);
        box-shadow: -5px -6px 8px rgba(239, 238, 237, 0.4);

        &:hover{
            -webkit-box-shadow: -5px -6px 8px rgba(239, 238, 237, 0.7);
            box-shadow: -5px -6px 8px rgba(239, 238, 237, 0.7);
        }
    }
    .section-6 .owl-carousel .owl-next{
        border-top: solid 4px #fff;
        border-right: solid 4px #fff;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: 5px -6px 8px rgba(239, 238, 237, 0.4);
        box-shadow: 5px -6px 8px rgba(239, 238, 237, 0.4);

        &:hover{
            -webkit-box-shadow: 5px -6px 8px rgba(239, 238, 237, 0.7);
            box-shadow: 5px -6px 8px rgba(239, 238, 237, 0.7);
        }
    }

}
@media screen and (max-width: 1140px){

    .block-plan .wrapp-content{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .block-plan .overall-plan{
        margin-bottom: 50px;
    }
    .block-plan .wrapp-sliders{
        max-width: 100%;
        padding: 0;
        justify-content: center;
        margin-bottom: 100px;
    }
    .block-plan a{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1080px){

/* hesder*/

    header .img-box, .second-menu-box .img-box{
        max-width: 100px;
    }
    header .tel-box, .second-menu-box .tel-box{
        max-width: 280px;
    }
    .section-1{
        padding-bottom: 80px;
    }

/* section 4*/

    .section-4 .contact-form-row, .section-4 form, .section-7 .contact-form-row, .section-7 form, .section-11 .contact-form-row, .section-11 form{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .section-4 .form_row, .section-7 .form_row, .section-11 .form_row{
        margin-bottom: 20px;
    }

/* section 9*/

    .section-9 .carusel-doc .owl-nav .owl-prev{
        right: -50px;
    }
    .section-9 .carusel-doc .owl-nav .owl-next{
        right: -35px;
    }


}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 990px){

    header{
        height: 60px;

        .mobile-width{
            display: block
        }
        .desk-top{
            display: none;
        }
    }
    header .nav-menu{
        display: none;
    }
    header .menu-box{
        height: 60px;
        background: #000;
    }
    header .tel-box{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0 0 15px;
    }
    header .tel{
        margin: 0 auto;
    }
    .second-menu-box .tel-box{
        padding: 0;
    }
    .second-menu-box .mbox2{
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;

        .burger-memu{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .nav-menu{
            position: absolute;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            max-width: 175px;
            width: 100%;
            right: -100%;
            top: 0;
            background-color: #17191d;
            padding: 20px;

            a{
                display: block;
                margin-bottom: 20px;
                text-align: right;
            }
            .mobile-width{
                display: block;
            }
        }

    }
    .section-1{
        padding: 60px 0 0;
    }
    .section-1 .title-site-box{
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 30px;
    }
    .section-3{
        padding: 50px 0;
    }
    .section-3 .item .hiden-text{
        display: block;
        padding: 0 5px;
    }
    .section-3 h2{
        text-align: center;
    }
    .section-3 .item{
        margin-bottom: 310px;
    }
    .section-9 {
        padding: 40px 0 80px;
    }
    .section-9 .content-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        position: relative;
    }
    .section-9 .slide-box{
        margin: 0 auto;
    }
    .section-9 .text-box, .section-9 .title{
        text-align: center;
    }
    .section-9 .text-box a{
        max-width: 380px;
        width: 100%;
        display: block;
        padding: 10px;
        position: absolute;
        bottom: -42px;
        left: 50%;
        margin-left: -190px;
    }
    .section-9 .carusel-doc .owl-nav .owl-prev{
        left: -30px;
        bottom: 40%;
    }
    .section-9 .carusel-doc .owl-nav .owl-next{
        right: -30px;
        bottom: 40%;
    }
    .section-5{
        padding: 40px 0 50px;
    }
    .section-5 .title-box{
        text-align: center;
    }
    .section-5 .content-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .section-5 ul{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-5 li{
        margin: 0 0 20px 55px;
    }
    .section-5 li:before{
        left: -25px;
        top: -4px;
    }
    .section-5 li:nth-child(10):before{
        left: -35px;
    }
    .section-5 li:after{
        display: none;
    }
    .section-5 .list-box{
        margin-bottom: 30px;
    }
    .section-5 h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .section-5 img{
        display: block;
        margin: 0 auto;
    }
    .section-6 h2{
        text-align: center;
    }
    .section-10 h2{
        text-align: center;
    }
    .block-plan{

        .wrapp-content{
            flex-direction: column;
            align-items: center;
        }
    }

}
@media screen and (max-width: 880px){

    .section-4 .contact-form-row, .section-4 form, .section-7 .contact-form-row, .section-7 form, .section-11 .contact-form-row, .section-11 form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 285px;
        margin: 0 auto;
        width: 100%;
    }
    .section-4 button, .section-7 button, .section-11 button{
        width: 100%;
    }
    .section-4 .form_row, .section-7 .form_row, .section-11 .form_row{
        margin: 0 0 20px;
    }
    .section-4 input, .section-7 input, .section-11 input{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .section-4 .item-box, .section-7 .item-box, .section-11 .item-box{
        max-width: 100%;
        text-align: center;
    }
    .section-4 .text-box, .section-7 .text-box, .section-11 .text-box{
        max-width: 100%;
        text-align: center;
    }
    .section-11 .contact-form-row:nth-child(3){
        position: static;
    }

}
@media screen and (max-width: 768px){

    header .tel-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 220px;
    }
    header .mbox2, .second-menu-box .mbox2{
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;

        .burger-memu{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }
    header .tel{
        font-size: 20px;
        margin: 0 0 5px 0;
    }
    header .button-call, .second-menu-box .button-call{
        padding: 0;
        background-color: rgba(176, 143, 110, 0);
        font-size: 16px;
    }
    header .tel-box, .second-menu-box .tel-box{
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: auto;
        align-items: flex-end;
    }
    header .nav-menu,
    .second-menu-box .nav-menu{
        display: block;
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        max-width: 175px;
        width: 100%;
        right: -100%;
        top: 0;
        background-color: #17191d;
        padding: 20px;

        a{
            display: block;
            margin-bottom: 20px;
            text-align: right;
        }
        .mobile-width{
            display: block;
        }
    }
    .section-1 .title{
        background-color: rgba(23, 25, 29, 0);
        border: none;
        padding: 0;
        margin-bottom: 50px;
        width: 100%;

        h1{
            color: #736852;
            font-size: 36px;
            margin-bottom: 20px;
        }
        p{
            color: #736852;
            font-size: 16px;

            &:before{
                width: 160px;
                background-color: #736852;
                top: -10px;
                margin-left: -80px;
            }
        }
    }
    .section-1 .content-box{
        padding: 100px 0 0;
        background: #fff;
    }
    .section-1 .title-site-box{
        padding-top: 10px;

        .mobile-width{
            display: block;
            margin-bottom: 30px;
        }
    }
    .section-1 .download-button{
        margin: -130px 0 0 0;
    }
    .section-1 .slider-box{
        background: url('../images/section-1-bg-mobile.jpg') top center no-repeat;
        background-size: cover;
        height: 350px;

        #slider-header{
            display: none;
        }
    }
    .section-2{
        padding: 40px 0 70px;
    }
    .section-2 .content-box{
        max-width: 100%;
        text-align: center;
    }
    .section-2 .button{
        margin: 0 auto;
    }
    .section-2 .img-box{
        display: none;
    }
    .section-8{
        padding: 40px 0;

        .title-box{
           text-align: center;
        }
        .list-box{
            width: 100%;
        }
        ul{
            width: 100%;
        }
        li{
            text-align: center;

            &:after{
                width: 160px;
                left: 50%;
                margin-left: -80px;
            }
        }
        .button{
           display: block;
           margin: 0 auto;
        }
        .img-box{
            display: none;
        }
    }
    .section-10 .text p{
        font-size: 12px!important;

        span{
            font-size: 24px!important;
        }
    }
    .block-plan .wrapp-sliders{
        flex-direction: column;
        align-items: center;
    }
    .block-plan .name-sliders-tab{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-plan .name-tabs{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .block-plan ul{
        display: flex;
        justify-content: space-around;
    }

}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 600px){

    .section-10 .news-item{
        margin: 0 auto;
    }
    .modal_div{
        padding: 60px 15px 15px;
        overflow: auto;
        max-height: 400px;
    }
    .section-6 .carusel-small{
        display: none;
    }
    .section-2 {

        .title-box{
            margin-bottom: 15px;
        }
        h2{
            font-size: 24px;
        }
        p{
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 5px;
        }
        .button{
            font-size: 16px;
        }
        .text-box{
            margin-bottom: 15px;
            padding: 0;
        }        
    }
    .section-3 h2{
        font-size: 24px;
    }
    .section-4 , .section-7 , .section-11{
        padding: 20px 0;
        
        .wrapp{
            position: absolute;
            top: -110px;
            left: 0;
            right: 0;
            padding: 0 15px;
        }
        h2{
            font-size: 24px;
            color: #736852;
        }
        .item-box{
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            color: #736852;
        }
    }
    .section-5{
        
        h2{
            font-size: 24px;
        }
        li{
            font-size: 12px;
        }
        h3{
            font-size: 18px;
        }
    }
    .section-6{
        padding: 40px 0 0px;
        margin-bottom: 150px;

        h2{
            font-size: 24px;
        }
    }
    .section-8{

        h2{
            font-size: 24px;
        }
        li{
            font-size: 15px;
        }
        a{
            font-size: 16px;
        }
    }
    .section-9{

        h2{
            font-size: 24px;
        }
        p{
            font-size: 14px;
        }
        a{
            font-size: 16px;
        }
        .carusel-doc .owl-nav {

            .owl-next{
                right: 65px;
                bottom: -45px;
            }
            .owl-prev{
                left: 65px;
                bottom: -45px;
            }
        }
        .slide-box{
            margin: 0 auto 45px;
        } 
    }
    .section-10{
        padding: 40px 0 0;
        margin-bottom: 150px;

        h2{
            font-size: 24px;
        }
    }
    .section-12{
        padding: 75px 0 225px;

        #myMap{
            position: relative;
            height: 250px;
        }
        .title{
            right: 0;
            text-align: center;
            top: -50px;
        }
        h2{
            font-size: 24px;
        }
        .text{
            top: 250px;
            max-width: 100%;
            right: 0;
            padding: 20px 0;
            border: none;
            box-shadow: 2px 3.5px 6px rgba(65, 59, 46, 0);
        }
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li{
            display: inline-block;

            &:after{
                width: 100%;
            }
        }
    }
    .block-plan {
        padding: 40px 0 60px;

        .title h2{
            font-size: 24px;
        }
        .overall-plan{
            width: 100%;
            min-width: 100%;
            text-align: center;
        }
    }
    .block-plan .slide-plans .item .img-box{
        width: 100%;
    }
    .modal_div .title h2{
        font-size: 18px;
    }
    .modal_div p{
        font-size: 14px;
        line-height: 20px;
    }

}
@media screen and (max-width: 480px){

    #call-popup {

        h2{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }

}
@media screen and (max-width: 425px){

    header{

        .tel{
            font-size: 14px;
        }
        .button-call{
           font-size: 10px; 
        }
    }
    .section-4{
    
        .wrapp{
            top: -130px;
        }
    }
    .section-6{
        margin-bottom: 190px;
    }
    .section-7{
    
        .wrapp{
            top: -160px;
        }
    }
    .section-10{
        margin-bottom: 175px;
    }
    .section-11{
    
        .wrapp{
            top: -145px;
        }
    }
    .section-8 {
        li{
            font-size: 14px;
        }
    }
    .section-9 .text-box a{
        width: 290px;
        margin-left: -145px;
        bottom: -30px;
        font-size: 16px;
    }
    .section-8 .button{
        font-size: 16px;
    }
    .section-1 .download-button{
        margin: -100px 0 0 0;
        font-size: 16px;
    }
    .section-12 a,
    .section-12 li{
        font-size: 12px;
    }
    .section-12 li:before{
        left: -30px;
    }
    .block-plan .title-tabs h3{
        font-size: 15px;
    }
    .block-plan li{
        font-size: 12px;
    }
    .block-plan h4{
        font-size: 15px;
    }
    .block-plan .slide-ares p{
        font-size: 16px;
        text-align: center;
    }
    .block-plan .owl-nav div{
        bottom: -40px;
    }
    .block-plan a{
        font-size: 16px;
        width: 100%;
    }
}
@media screen and (max-width: 320px){

    .section-1 .download-button{
        margin: -55px 0 0 0;
    }
    header .burger-memu, .second-menu-box .burger-memu{
        margin-left: 20px;
    }
    header .img-box, .second-menu-box .img-box{
        max-width: 75px;
    }

}