.mbox2{
    max-width:1140px;
    padding: 0 15px;
    width:100%;
    margin:0 auto;
    position:relative;
    z-index:1;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    outline: none;
}
.owl-carousel{
    .owl-prev{
        border-top: solid 4px #b08f6e;
        border-left: solid 4px #b08f6e;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            border-top: solid 4px #847f7b;
            border-left: solid 4px #847f7b;
        }
    }
    .owl-next{
        border-top: solid 4px #b08f6e;
        border-right: solid 4px #b08f6e;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            border-top: solid 4px #847f7b;
            border-right: solid 4px #847f7b;
        }
    }
}
.form_row.error{
    border: 2px solid rgba(255, 0, 0, 1)!important;
}
.mobile-width{
    display: none;
}

/* header*/

header{
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    z-index: 5;

    .menu-box{
        max-width: 1920px;
        width: 100%;
        height: 140px;
        margin: 0 auto;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
        background: -o-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    .tel-box{
        padding-top: 18px;
    }
}
.second-menu-box{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 60px;
    background-color: rgba(21, 21, 20, 0.9);
    display: none;

    .tel-box{
        padding-top: 10px;
    }
}
header,
.second-menu-box{

    .mbox2{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
    }
    .img-box{
        width: 100%;
        max-width: 190px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .nav-menu{
        width: 100%;
        /* max-width: 585px;*/
        padding-left: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        a{
            color: white;
            font-size: 16px;
            font-weight: 400;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            &:hover{
                color: #b08f6e;
            }
        }
    }
    .tel-box{
        width: 100%;
        max-width: 330px;
        /* text-align: right;*/
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .tel{
        color: white;
        font-family: 'Anglecia';
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .button-call{
        background-color: #b08f6e;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: #fefefe;
        font-size: 24px;
        font-weight: 400;
        padding: 8px 36px;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #735d47;
        }
    }
    .burger-memu{
        width: 35px;
        height: 25px;
        min-width: 35px;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: pointer;
        margin-left: 25px;

        .burger{
            width: 100%;
            height: 3px;
            background-color: #b08f6e;
            border-radius: 2px;
        }
    }
    .close-button{
        width: 25px;
        height: 25px;
        margin: 0 auto 10px;
        position: relative;

        .close-el{
            position: absolute;
            top: 0;
            left: 12px;
            width: 1px;
            height: 100%;
            background: #fff;
        }
        .el-1{
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .el-2{
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

/* header end*/

/* section 1*/

.section-1{
    width: 100%;
    position: relative;
    z-index: 1;

    .content-box{
        max-width: 1920px;
        width: 100%;
        /* height: 800px;*/
        margin: 0 auto;
        position: relative;
        background: url('../images/slide-1.jpg') no-repeat;
        background-size: cover;

    }
    .title-site-box{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 10;
    }
    .title{
        width: 684px;
        /* height: 268px;*/
        background-color: rgba(23, 25, 29, 0.7);
        border: 2px solid #847f7b;
        text-align: center;
        color: white;
        padding: 45px 0 50px;
        margin-bottom: 80px;

        h1{
            font-family: 'Anglecia';
            font-size: 60px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 85px;
        }
        p{
            font-size: 30px;
            font-weight: 400;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                top: -45px;
                left: 50%;
                margin-left: -140px;
                width: 280px;
                height: 1px;
                background-color: white;
            }
        }
    }
    .download-button{
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: #fefefe;
        /* font-family: ClioCRegular;*/
        font-size: 24px;
        font-weight: 400;
        padding: 8px 17px;
        background-color: #b08f6e;
        border-radius: 3px;
        margin-bottom: -85px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #735d47;
        }
    }
    .slider-box{
        width: 100%;
        position: relative;
        z-index: 1;
    }
}

/* section 1 end*/

/* section 2*/

.section-2{
    width: 100%;
    -webkit-box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);
    box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);
    padding: 80px 0 70px;

    .mbox2{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .content-box{
        width: 100%;
        max-width: 555px;
    }
    .title-box{
        margin-bottom: 30px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .text-box{
        margin-bottom: 40px;
        padding-right: 20px;
    }
    p{
        color: #736852;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;

        span{
            font-weight: 700;
        }
    }
    p:last-child{
        margin-bottom: 0;
    }
    .button{
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: #fefefe;
        font-size: 22px;
        font-weight: 400;
        background-color: #b08f6e;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        padding: 9px 72px;
        max-width: 255px;
        display: block;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #735d47;
        }
    }
}

/* section 2 end*/

/* section 3*/

.section-3{
    width: 100%;
    padding: 80px 0 1px;
    box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);

    .title-box{
        margin-bottom: 40px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .items-box{
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .item{
        width: 185px;
        height: 150px;
        margin-bottom: 240px;
        position: relative;
        cursor: pointer;

        p{
            color: #736852;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            line-height: 20px;
        }
        .hiden-text{
            position: absolute;
            top: 180px;
            color: #736852;
            font-size: 14px;
            line-height: 20px;
            font-style: italic;
            display: none;
            z-index: 1;

            &:after{
                content: '';
                position: absolute;
                top: -20px;
                width: 60px;
                height: 1px;
                background-color: #b08f6e;
                left: 50%;
                margin-left: -30px;
            }
        }
        &:hover .hiden-text{
            display: block;
        }
    }
    .img-box{
        margin-bottom: 20px;
        height: 62px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

/* section 3 end*/

/* section 4, 7, 11*/

.section-4{
    background: url('../images/section-4-bg.jpg')top center no-repeat;

    .item-box{
        max-width: 430px;
    }
    .text-box{
        max-width: 540px;
    }
}
.section-7{
    background: url('../images/section-7-bg.jpg')top center no-repeat;
    /* box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);*/

    .item-box{
        max-width: 410px;
    }
    .text-box{
        max-width: 410px;
    }
}
.section-11{
    background: url('../images/section-11-bg.jpg')top center no-repeat;

    .text-box{
        max-width: 430px;
    }
    .contact-form-row:nth-child(3){
        position: absolute;
        right: 25px;
        bottom: 22px;

    }
    .contact-form-row,
    form{
        position: relative;
        max-width: 560px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .form_row{
        margin-bottom: 20px;
    }
}
.section-4,
.section-7,
.section-11{
    width: 100%;
    background-size: cover;
    padding: 80px 0;

    .wrapp{
        width: 100%;
    }
    .item-box{
        margin-bottom: 30px;
    }
    h2{
        color: white;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .text-box{
        margin-bottom: 40px;
    }
    p{
        color: white;
        font-size: 30px;
        font-weight: 400;
    }
    .contact-form-row,
    form{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .form_row{
        margin-right: 20px;
        border-radius: 3px;
        border: 2px solid rgba(255,0,0,0);
    }
    input{
        width: 255px;
        height: 40px;
        background-color: white;
        border: 1px solid #a29f9c;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        text-align: center;
        color: #736852;
        font-size: 16px;
        font-weight: 400;
    }
    button{
        width: 255px;
        height: 40px;
        background-color: #b08f6e;
        border-radius: 3px;
        border: none;
        -webkit-box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: #fefefe;
        font-size: 22px;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #735d47;
        }
    }
}

/* section 4, 7, 11 end*/

/* section 5*/

.section-5{
    width: 100%;
    padding: 80px 0 50px;
    -webkit-box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);
    box-shadow: 1px 8px 14px rgba(132, 127, 123, 0.35);

    .title-box{
        margin-bottom: 35px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .content-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    h3{
        color: #736852;
        font-size: 30px;
        font-weight: 400;
    }
    img{
        margin-left: -90px;
        margin-top: -30px;
    }
    /* .list-box{*/
    /*     padding-left: 30px;*/
    /* }*/
    li{
        color: #736852;
        font-size: 16px;
        margin-bottom: 10px;
        position: relative;

        &:before{
            position: absolute;
            top: 0;
            left: -37px;
            color: #b08f6e;
            font-family: 'Anglecia';
            font-size: 18px;
            font-weight: 700;
        }
        &:nth-child(1):before{
            content: '';
            left: -47px;
            width: 27px;
            height: 17px;
            background: url('../images/corona-icon.png') no-repeat;
        }
        &:nth-child(2):before{
            content: '2-';
        }
        &:nth-child(3):before{
            content: '3-';
        }
        &:nth-child(4):before{
            content: '4-';
        }
        &:nth-child(5):before{
            content: '5-';
        }
        &:nth-child(6):before{
            content: '6-';
        }
        &:nth-child(7):before{
            content: '7-';
        }
        &:nth-child(8):before{
            content: '8-';
        }
        &:nth-child(9):before{
            content: '9-';
        }
        &:nth-child(10):before{
            content: '10-';
            left: -44px;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: -37px;
            width: 48px;
            height: 1px;
            background-color: #381c1a;
        }
        &:nth-child(10):after{
            display: none
        }
    }
}

/* section 5 end*/

/* section 6*/

.section-6{
    width: 100%;
    padding: 80px 0 80px;

    .title-box{
        margin-bottom: 30px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .carusel-full{
        margin-bottom: 40px;

        .owl-nav{
            /* display: block;*/

            div{
                position: absolute;
                background: none;
                padding: 0;
                top: 0;
                bottom: 0;
                margin: 0;
                display: block;
            }
            .owl-prev{
                width: 26px;
                height: 26px;
                left: 20px;
                top: 40%;
            }
            .owl-next{
                width: 26px;
                height: 26px;
                right: 20px;
                top: 40%;
            }
        }
    }
    .carusel-small{
        margin: 0 auto;
        max-width: 980px;

        .item{
            padding: 0 21px;
        }
        .active-slide .item:after{
            content: '';
            z-index: 2;
            display: block;
            background-color: rgba(0,0,0,0.6);
            left: 20px;
            right: 20px;
            height: 100%;
            top: 0px;
            bottom: 15px;
            position: absolute;
        }
        .owl-nav{
            display: block;

            div{
                position: absolute;
                width: 40px;
                height: 40px;
                background: none;
                padding: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                display: block;
            }
            .owl-prev{
                width: 26px;
                height: 26px;
                left: -35px;
            }
            .owl-next{
                width: 26px;
                height: 26px;
                right: -35px;
            }
        }
    }
}

/* section 6 end*/

/* section 8*/

.section-8{
    width: 100%;
    padding: 70px 0;

    .content-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .title-box{
        margin-bottom: 30px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    ul{
        margin-bottom: 35px;
        /* padding-right: 20px;*/
    }
    li{
        color: #736852;
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 12px;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 48px;
            height: 1px;
            background-color: #8e5e41;
        }
        &:last-child:after{
            display: none;
        }
        span{
            font-weight: 700;
        }
    }
    li:last-child{
        margin-bottom: 0;
    }
    .button{
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: #fefefe;
        font-size: 22px;
        font-weight: 400;
        background-color: #b08f6e;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        padding: 9px 24px;
        max-width: 410px;
        display: block;
        text-align: center;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #735d47;
        }
    }
}

/* section 8 end*/

/* section 9*/

.section-9{
    width: 100%;
    background-size: cover;
    background: url('../images/section-9-bg.jpg')top center no-repeat;
    background-size: cover;
    padding: 80px 0;

    .content-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .slide-box{
        /* max-width: 387px;*/
        max-width: 400px;
        height: 260px;
        width: 100%;
        margin-right: 80px;
    }
    .owl-stage{
        width: 10000px!important;
    }
    .carusel-doc{
        /* max-width: 387px;*/
        /* max-width: 440px;*/
        /* height: 100%;*/

        .item{
            padding: 0 10px;
        }
        /* img{*/
        /*     width: 200px;*/
        /*     max-width: 200px;*/
        /* }*/
        .owl-nav{
            display: block;

            div{
                position: absolute;
                width: 40px;
                height: 40px;
                background: none;
                padding: 0;
                /* top: 0;*/
                bottom: 0;
                margin: 0;
                display: block;
            }
            .owl-prev{
                width: 26px;
                height: 26px;
                right: -90px;
                bottom: 40px;
            }
            .owl-next{
                width: 26px;
                height: 26px;
                right: -75px;
                bottom: 0;
            }
        }
    }
    .text-box,
    .title{
        text-align: right;
    }
    .title{
        margin-bottom: 30px;
    }
    h2{
        color: white;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    p{
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .text-box a{
        text-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
        color: #736852;
        font-size: 22px;
        font-weight: 400;
        background-color: white;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
        padding: 9px 25px;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        &:hover{
            background-color: #d9b086;
            color: white;
        }
    }
}

/* section 9 end*/

/* section 10*/

.section-10{
    width: 100%;
    padding: 70px 0 80px;

    .title-box{
        margin-bottom: 30px;
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .owl-nav{
        display: block;

        div{
            position: absolute;
            width: 40px;
            height: 40px;
            background: none;
            padding: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
        }
        .owl-prev{
            width: 26px;
            height: 26px;
            left: 0;
            bottom: 10px;
        }
        .owl-next{
            width: 26px;
            height: 26px;
            right: 0;
            bottom: 10px;
        }
    }
    .news-item{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 320px;
        width: 100%;
        height: 170px;
        margin-bottom: 10px;
        background-color: white;
        border: 2px solid #a29f9c;
        -webkit-box-shadow: 2px 3.5px 6px rgba(65, 59, 46, 0.47);
        box-shadow: 2px 3.5px 6px rgba(65, 59, 46, 0.47);
    }
    .data{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 15px 10px 0;
        color: #a29f9c;
        font-family: 'Anglecia';
        font-weight: 400;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 30px;
            width: 1px;
            height: 110px;
            background-color: #a29f9c;
        }
        span:first-child{
            text-transform: uppercase;
            font-size: 48px;
        }
        span:last-child{
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .text{
        padding: 25px 30px 0;

        p{
            color: #736852;
            font-family: 'Anglecia';
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;

            &:first-child{
                margin-bottom: 20px;
                position: relative;
            }
            &:first-child:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 48px;
                height: 1px;
                background-color: #8e5e41;
            }
        }
        a{
            color: #736852;
            font-size: 14px;
            font-style: italic;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            &:hover{
                border-bottom: 1px solid #736852;
            }
        }
    }
}

/* section 10 end*/

/* section 12*/

.section-12{
    width: 100%;
    min-height: 500px;
    position: relative;

    #myMap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 500px;
    }
    .contact-box{
        position: relative;
        /* padding-top: 80px;*/
    }
    .title{
        position: absolute;
        left: 0;
        top: 80px;
        /* margin-bottom: 40px;*/
    }
    h2{
        color: #736852;
        font-family: 'Anglecia';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .text{
        position: absolute;
        left: 0;
        top: 170px;
        max-width: 440px;
        padding: 20px 45px;
        background-color: white;
        border: 2px solid #a29f9c;
        -webkit-box-shadow: 2px 3.5px 6px rgba(65, 59, 46, 0.47);
        box-shadow: 2px 3.5px 6px rgba(65, 59, 46, 0.47);
        font-family: 'Anglecia';
    }
    ul{
        width: 100%;
        padding-left: 60px;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #a29f9c;
        }
    }
    li{
        margin-bottom: 30px;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 48px;
            height: 1px;
            background-color: #8e5e41;
        }
        &:before{
            position: absolute;
            content: '';
            top: 0;
            left: -60px;
        }
        &:nth-child(1):before{
            background: url('../images/mail-icon.png')no-repeat;
            width: 22px;
            height: 20px;
        }
        &:nth-child(2):before{
            background: url('../images/marker-icon.png')no-repeat;
            width: 16px;
            height: 22px;
        }
        &:nth-child(3):before{
            background: url('../images/tel-icon.png')no-repeat;
            width: 20px;
            height: 26px;
        }
    }
    li,a{
        color: #736852;
        font-size: 16px;
    }
    .social-links{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        a{
            margin-right: 20px;
        }
        svg{
            width: 24px;
            height: 24px;

            path{
                -webkit-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }
            &:hover path{
                fill:#381c1b!important;
            }
        }
    }
}
footer{
    width: 1920px;
    position: relative;
    height: 77px;
    background-color: #160a09;
}

/* section 12 end*/

// plan section

.block-plan{
    width: 100%;
    padding: 80px 0 60px;

    .title{
        color: #736852;
        text-align: center;
        margin-bottom: 30px;

        h2{
            font-family: 'Anglecia';
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
        }
        
    }
    .wrapp-content{
        display: flex;
        height: 450px;
        overflow: hidden;
    }
    .overall-plan{
        width: 450px;
        min-width: 450px;
        // height: 365px;
    }
    .owl-nav div{
        position: absolute;
        background: none;
        width: 26px;
        height: 26px;
        padding: 0;
        /* top: 0; */
        bottom: -50px;
        margin: 0;
        display: block;
    }
    .owl-nav .owl-next{
        right: 35%;
    }
    .owl-nav .owl-prev{
        left: 35%;
    }
    .wrapp-sliders{
        display: flex;
        width: 100%;
        max-width: 660px;
        padding-left: 45px;
    }
    .name-sliders-tab{
        width: 100%;
        max-width: 200px;        
    }
    .name-tabs{
        margin-bottom: 90px;
    }
    .title-tabs{
        margin-bottom: 20px;

        h3{
            color: #736852;
            font-size: 30px;
            font-weight: 400;
        }
    }
    .title-ares{
        margin-bottom: 15px;
    }
    li{
        color: #736852;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        cursor: pointer;
    }
    h4{
        color: #736852;
        font-size: 16px;
        font-weight: 400;
    }
    .slide-ares{
        width: 100%;
        max-width: 100px;
        height: 25px;

        .area-text{
            width: 100px;
            padding-top: 5px;
        }        
        p{
            color: #736852;
            font-size: 23px;
            font-weight: 400;
        }
        .item{
            height: 25px;
        }
    }
    .slide-plans{
        width: 100%;
        max-width: 460px;
        padding-top: 50px;

        .item{
            max-height: 360px;            

            .img-box{
                height: 100%;
                width: 460px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: auto;
                }                
            }
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
        color: white;
        font-size: 22px;
        font-weight: 400;
        width: 350px;
        height: 40px;
        margin-left: 50px;
        background-color: #b08f6e;
        border-radius: 3px;
        transition: all 300ms ease;
        box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);

        &:hover{
            background-color: #735d47;
        }
    }

    .rooms-1,
    .plus-rooms-1,
    .rooms-2,
    .area-1-rooms,     
    .area-1-plus-rooms,
    .area-2-rooms{
        display: none;
    }
    .active-tab-slide{
        display: block;
    }
    .active-tab-name{
        font-weight: 700;
    }
}

/* hidden block*/
#call_success{
    width: 100%;
    max-width: 885px;
    border: 2px solid #847f7b;
    padding: 110px 30px 110px;
    background: url('../images/popUp-bg.jpg') top center no-repeat;
    color: white;
    background-size: cover;
    text-align: center;

    .call-success-title{
        font-weight: 400;
        font-size: 44px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .call-success-subtitle{
        font-size: 28px;
    }
    button{
        outline: none;
    }
}
#call-popup{
    width: 100%;
    max-width: 885px;
    border: 2px solid #847f7b;
    padding: 24px 24px 107px;
    background: url('../images/popUp-bg.jpg') top center no-repeat;
    background-size: cover;

    .contact-form{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        input{
            width: 255px;
            height: 40px;
            background-color: white;
            border: 1px solid #a29f9c;
            border-radius: 3px;
            -webkit-box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
            box-shadow: 1px 1.7px 5px rgba(59, 28, 10, 0.35);
            text-align: center;
            color: #736852;
            font-size: 16px;
            font-weight: 400;
        }
        button{
            width: 255px;
            height: 40px;
            background-color: #b08f6e;
            border-radius: 3px;
            border: none;
            -webkit-box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
            box-shadow: 1px 1.7px 5px rgba(56, 28, 27, 0.35);
            text-shadow: 1px 1.7px 5px rgba(96, 55, 19, 0.35);
            color: #fefefe;
            font-size: 22px;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            &:hover{
                background-color: #735d47;
            }
        }
    }
    .contact-form-title{
        max-width: 330px;
        text-align: center;
        color: white;
        padding-top: 100px;
        margin-bottom: 35px;
    }
    .form_row{
        border-radius: 3px;
        border: 2px solid rgba(255, 0, 0, 0);
        margin-bottom: 10px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
    }
    p{
        font-size: 28px;
        font-weight: 400;
    }
}

.modal_div {
    width: 100%;
    max-width: 1180px;
    max-height: 790px; /* Рaзмеры дoлжны быть фиксирoвaны */
    background: url('../images/popUp-news.jpg')top center no-repeat;
    overflow: scroll;
    background-size: cover;
    position: relative;
    /* position: fixed; *//* чтoбы oкнo былo в видимoй зoне в любoм месте *//**/
    /* top: 45%; *//* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт *//**/
    /* left: 50%; *//* пoлoвинa экрaнa слевa *//**/
    /* margin-top: -150px;*/
    /* margin-left: -395px; *//* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) *//**/
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 1000; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 50px;

    .title{
        margin-bottom: 30px;

        h2{
            color: #736852;
            font-family: 'Anglecia';
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
        }        
    }
    p{
        color: #736852;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_div .modal_close {
    width: 30px;
    height: 30px;
    font: 21px/1 Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    /* border-width: 0;*/
    border: 1px solid #888;
    background: #fff;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    &:hover{
        color: #555;
        background: #eee;
    }
}
/* Пoдлoжкa */
#overlay {
    z-index: 105;
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:rgba(0,0,0,.8);
    width:100%;
    height:100%;
    padding: 0 15px;
    top:0;
    left:0;
    display:none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.noneScroll {
    z-index: 1;
    overflow: hidden;
}

/* hidden block end*/