<!-- HEADER -->
<header id="header">

    <div class="menu-box">

        <div class="mbox2">

            <div class="img-box">
                <a href="#header">
                    <img src="../images/logo.png" alt="image">
                </a>                
            </div>

            <div class="nav-menu">
                <a href="#">Про комплекс</a>
                <a href="#">Планування</a>
                <a href="#">Інфраструктура</a>
                <a href="#">Галерея</a>
                <a href="#">Новини</a>
                <a href="#">Контакти</a>
            </div>

            <div class="tel-box">
                <a href="tel:+380673847545" class="tel">+38 (067) 384 75 45</a>
                <a href="#" class="button-call">Замовити дзвінок</a>
            </div>
        </div>
    </div>

</header>

<div class="second-menu-box">

    <div class="mbox2">

        <div class="img-box">
            <img src="../images/second-logo.png" alt="image">
        </div>

        <div class="nav-menu">
            <a href="#">Про комплекс</a>
            <a href="#">Планування</a>
            <a href="#">Інфраструктура</a>
            <a href="#">Галерея</a>
            <a href="#">Новини</a>
            <a href="#">Контакти</a>
        </div>

        <div class="tel-box">
            <!--<a href="tel:+380673847545" class="tel">+38 (067) 384 75 45</a>-->
            <a href="#">Замовити дзвінок</a>
        </div>
    </div>
</div>
<!-- /HEADER -->

