<!-- HEADER -->
<header id="header">

    <div class="menu-box">

        <div class="mbox2">

            <div class="img-box">
                <a href="index.html" class="desk-top">
                    <img src="images/logo.png" alt="image">
                </a>
                <a href="#header" class="goTo mobile-width">
                    <img src="images/second-logo.png" alt="image">
                </a>
            </div>

            <div class="nav-menu">
                <div class="close-button mobile-width">
                    <div class="close-el el-1"></div>
                    <div class="close-el el-2"></div>
                </div>
                <a href="#section-3" class="goTo">Про комплекс</a>
                <a href="#block-plan" class="goTo">Планування</a>
                <a href="#section-5" class="goTo">Інфраструктура</a>
                <a href="#section-6" class="goTo">Галерея</a>
                <a href="#section-10" class="goTo">Новини</a>
                <a href="#section-12" class="goTo">Контакти</a>
            </div>

            <div class="tel-box">
                <a href="tel:+380673847545" class="tel">+38 (067) 384 75 45</a>
                <a href="#call-popup" class="button-call js_popup">Замовити дзвінок</a>
            </div>

            <div class="burger-memu">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </div>
        </div>
    </div>

</header>

<div id="second-menu-box" class="second-menu-box">

    <div class="mbox2">

        <div class="img-box">
            <a href="#header" class="goTo">
                <img src="images/second-logo.png" alt="image">
            </a>
        </div>

        <div class="nav-menu">
            <div class="close-button mobile-width">
                <div class="close-el el-1"></div>
                <div class="close-el el-2"></div>
            </div>
            <a href="#section-3" class="goTo">Про комплекс</a>
            <a href="#block-plan" class="goTo">Планування</a>
            <a href="#section-5" class="goTo">Інфраструктура</a>
            <a href="#section-6" class="goTo">Галерея</a>
            <a href="#section-10" class="goTo">Новини</a>
            <a href="#section-12" class="goTo">Контакти</a>
        </div>

        <div class="tel-box">
            <!--<a href="tel:+380673847545" class="tel">+38 (067) 384 75 45</a>-->
            <a href="#call-popup" class="button-call js_popup">Замовити дзвінок</a>
        </div>

        <div class="burger-memu">
            <div class="burger"></div>
            <div class="burger"></div>
            <div class="burger"></div>
        </div>
    </div>
</div>
<!-- /HEADER -->

