<section id="block-plan" class="block-plan">

    <div class="mbox2">

        <div class="title">
            <h2>планування квартир</h2>
        </div>

        <div class="wrapp-content">

            <div class="overall-plan">
                <img src="images/plan-poverh.jpg" alt="image">
            </div>

            <div class="wrapp-sliders">

                <div class="name-sliders-tab">

                    <div class="name-tabs">
                        <ul>
                            <li>1-кімнатні</li>
                            <li>1-кімнатні +</li>
                            <li>2-кімнатні</li>
                        </ul>
                    </div>

                    <div class="slide-ares">

                        <div id="area-1-rooms" class="owl-carousel carusel-full">
                            <div class="item">47.7</div>
                            <div class="item">61.7</div>
                        </div>

                        <div class="area-1-plus-rooms">89</div>

                        <div id="area-1-rooms" class="owl-carousel carusel-full">
                            <div class="item">76.6</div>
                            <div class="item">80.7</div>
                            <div class="item">83.8</div>
                            <div class="item">84</div>
                        </div>

                    </div>

                </div>

                <div class="slide-plans">

                    <div id="1-rooms" class="owl-carousel carusel-full">
                        <div class="item"> <img src="images/1-47-7.jpg" alt="image"> </div>
                        <div class="item"> <img src="images/1-61-7.jpg" alt="image"> </div>
                    </div>

                    <div class="1-plus-rooms">
                        <img src="images/1-plus-89.jpg" alt="image">
                    </div>

                    <div id="2-rooms" class="owl-carousel carusel-full">
                        <div class="item"> <img src="images/2-76-6.jpg" alt="image"> </div>
                        <div class="item"> <img src="images/2-80-7.jpg" alt="image"> </div>
                        <div class="item"> <img src="images/2-83-8.jpg" alt="image"> </div>
                        <div class="item"> <img src="images/2-84.jpg" alt="image"> </div>
                    </div>

                </div>

            </div>

        </div>
        <a href=""></a>
    </div>
</section>