<section id="block-plan" class="block-plan">

    <div class="mbox2">

        <div class="title">
            <h2>планування квартир</h2>
        </div>

        <div class="wrapp-content">

            <div class="overall-plan">
                <img src="images/plan-poverh.jpg" alt="image">
            </div>

            <div class="wrapp-sliders">

                <div class="name-sliders-tab">

                    <div class="name-tabs">
                        <div class="title-tabs">
                            <h3>Апартаменти:</h3>
                        </div>
                        <ul>
                            <li id="hh" class="room-name active-tab-name">1-кімнатні</li>
                            <li class="room-name">1-кімнатні +</li>
                            <li class="room-name">2-кімнатні</li>
                        </ul>
                    </div>

                    <div class="title-ares">
                        <h4>Загальна площа</h4>
                    </div>

                    <div class="slide-ares">                        

                        <div id="area-1-rooms" class="owl-carousel area-1-rooms active-tab-slide tab-slide-area">
                            <div class="item">                                
                                <div class="area-text">
                                    <p>47.7 м<sup><small>2</small></sup></p>
                                </div>
                            </div>
                            <div class="item">                                
                                <div class="area-text">
                                    <p>61.7 м<sup><small>2</small></sup></p>
                                </div>
                            </div>
                        </div>

                        <div class="area-1-plus-rooms tab-slide-area"><p>89 м<sup><small>2</small></sup></p></div>

                        <div id="area-2-rooms" class="owl-carousel tab-slide-area area-2-rooms">
                            <div class="item">
                                <div class="area-text">
                                    <p>76.6 м<sup><small>2</small></sup></p>
                                </div>                                
                            </div>
                            <div class="item">
                                <div class="area-text">
                                    <p>80.7 м<sup><small>2</small></sup></p>
                                </div>                                
                            </div>
                            <div class="item">
                                <div class="area-text">
                                    <p>83.8 м<sup><small>2</small></sup></p>
                                </div>                                
                            </div>
                            <div class="item">
                                <div class="area-text">
                                    <p>84 м<sup><small>2</small></sup></p>
                                </div>                                
                            </div>
                        </div>

                    </div>

                </div>

                <div class="slide-plans">

                    <div id="1-rooms" class="owl-carousel rooms-1 active-tab-slide tab-slide-plan">
                        <div class="item">
                             <div class="img-box">
                                 <img src="images/1-47-7.jpg" alt="image">
                            </div> 
                        </div>
                        <div class="item">
                             <div class="img-box">
                                 <img src="images/1-61-7.jpg" alt="image">
                            </div> 
                        </div>
                    </div>

                    <div class="plus-rooms-1  tab-slide-plan">
                        <img src="images/1-plus-89.jpg" alt="image">
                    </div>

                    <div id="2-rooms" class="owl-carousel rooms-2  tab-slide-plan">

                        <div class="item">
                             <div class="img-box">
                                 <img src="images/2-76-6.jpg" alt="image">
                            </div> 
                        </div>

                        <div class="item">
                             <div class="img-box">
                                 <img src="images/2-80-7.jpg" alt="image">
                            </div> 
                        </div>

                        <div class="item">
                             <div class="img-box">
                                 <img src="images/2-83-8.jpg" alt="image">
                            </div> 
                        </div>

                        <div class="item">
                             <div class="img-box">
                                 <img src="images/2-84.jpg" alt="image">
                             </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <a href="#">Завантажити планування</a>
    </div>
</section>