<section id="section-4" class="section-4">

    <div class="mbox2">

        <div class="item-box">
            <h2>Отримати Консультацію</h2>
        </div>

        <div class="text-box">
            <p>Залиште свої контакти і наш менеджер зв’яжеться з Вами</p>
        </div>

        <form action="ajax.php" novalidate="novalidate" id="consultation-form">
            <input type="text" class="el-input" name="name" required="required" aria-required="true" placeholder="Ваше Ім’я">
            <input type="text" class="el-input" name="mail" required="required" aria-required="true" placeholder="Електронна адреса">
            <input type="text" class="el-input" name="tel" required="required" aria-required="true" placeholder="Номер телефону">
            <button type="submit">Відправити</button>
        </form>
    </div>

</section>