<section id="section-9" class="section-9">

    <div class="mbox2">

        <div class="content-box">

            <div class="slide-box">

                <div id="carusel-doc" class="owl-carousel carusel-doc">

                    <div class="item">
                        <!--<img src="images/small-doc-zone.jpg" alt="image"> -->
                        <a data-fancybox="gallery" href="images/plan-zone.jpg" class="mySlideshows js_popup" rel="docs">

                            <img src="images/small-doc-zone.jpg" alt="image">

                        </a>

                        <!--<a class="mySlideshows  js_popup" rel="docs" href="../images/doc-2.jpg" style="display: none;"></a>

                        <a class="mySlideshows  js_popup" rel="docs" href="images/doc-3.jpg" style="display: none;"></a>

                        <a class="mySlideshows  js_popup" rel="docs" href="images/doc-4.jpg" style="display: none;"></a>-->
                    </div>
                    
                    <div class="item">
                        <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-2.jpg">
                            <img src="images/small-doc-2.jpg" alt="image">
                        </a>                         
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-3.jpg">
                            <img src="images/small-doc-3.jpg" alt="image">
                        </a> 
                    </div>

                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-4.jpg">
                            <img src="images/small-doc-4.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-5.jpg">
                            <img src="images/small-doc-5.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-6.jpg">
                            <img src="images/small-doc-7.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-7.jpg">
                            <img src="images/small-doc-7.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-8.jpg">
                            <img src="images/small-doc-8.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-9.jpg">
                            <img src="images/small-doc-9.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-10.jpg">
                            <img src="images/small-doc-10.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-11.jpg">
                            <img src="images/small-doc-11.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-12.jpg">
                            <img src="images/small-doc-12.jpg" alt="image">
                        </a> 
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-13.jpg">
                            <img src="images/small-doc-13.jpg" alt="image">
                        </a>
                    </div>
                    
                    <div class="item">
                         <a data-fancybox="gallery" class="mySlideshows  js_popup" rel="docs" href="images/doc-14.jpg">
                            <img src="images/small-doc-14.jpg" alt="image">
                        </a>
                    </div>

                </div>

            </div>

            <div class="text-box">

                <div class="title">
                    <h2>Дозвільні документи</h2>
                </div>

                <p>Цінуючи європейські традицій прозорості та відкритості, ми запровадили такі ж принципи для себе. На все будівництво ви маємо всі необхідні документи та сертифікати, які є у відкритому доступі, щоб всі майбутні мешканці будинку були впевнені у власному правильному виборі.</p>

                <a href="#">Завантажити детальну інформацію</a>

            </div>
        </div>

    </div>
</section>