<section class="section-6">

    <div class="mbox2">

        <div class="title-box">
            <h2>ХІд будівництва</h2>
        </div>

        <div class="slide-box">

            <div id="carusel-full" class="owl-carousel carusel-full">
                <div class="item"> <img src="../images/exemle-slide-ful.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemle-slide-ful.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemle-slide-ful.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemle-slide-ful.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemle-slide-ful.jpg" alt="image"> </div>
            </div>

            <div id="carusel-small" class="owl-carousel carusel-small">
                <div class="item"> <img src="../images/exemple-small.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemple-small.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemple-small.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemple-small.jpg" alt="image"> </div>
                <div class="item"> <img src="../images/exemple-small.jpg" alt="image"> </div>
            </div>

        </div>
    </div>

</section>