<section id="section-10" class="section-10">

    <div class="mbox2">
        
        <div class="title-box">
            <h2>Новини та акції</h2>
        </div>

        <div class="carusel-box">
            <div id="carusel-news" class="owl-carousel carusel-news">

                <div class="item">

                    <div class="news-item">

                        <div class="data">
                            <span>10</span>
                            <span>05/2017</span>
                        </div>

                        <div class="text">
                            <p style="line-height: 23px;">Продаж квартир у жк “Празький” стартував </p>
                            <a href="#">Детальніше</a>
                        </div>

                    </div>

                </div>
                
                <div class="item">

                    <div class="news-item">

                        <div class="data">
                            <span>10</span>
                            <span>05/2017</span>
                        </div>

                        <div class="text">
                            <p style="line-height: 30px;">Акційна ціна на перші <span style="font-family:'Anglecia';text-transform: uppercase;color: #f44343;font-size: 30px;font-weight: 700;">5</span> квартир </p>
                            <p style="color: #f44343;font-family:'Anglecia';font-weight:700;font-size: 18px"><span style="font-size: 36px;text-transform: uppercase;">8000</span> грн./м2</p>
                        </div>

                    </div>

                </div>
                
            </div>
        </div>

    </div>

</section>