<section id="section-11" class="section-11">

    <div class="mbox2">

        <div class="item-box">
            <h2>Залишились запитання?</h2>
        </div>

        <div class="text-box">
            <p>Задайте їх нашому менеджеру. Впишіть свої контактні дані і ми Вам передзвонимо.</p>
        </div>

        <!--<form action="ajax.php" novalidate="novalidate" id="questions-form">
            <input type="text" class="el-input" name="name" required="required" aria-required="true" placeholder="Ваше Ім’я">
            <input type="text" class="el-input" name="mail" required="required" aria-required="true" placeholder="Електронна адреса">
            <input type="text" class="el-input tel-mask" name="tel" required="required" aria-required="true" placeholder="Номер телефону">
            <button type="submit">Відправити</button>
        </form>-->

        <form action="ajax.php"  id="questions-form" class="questions-form contact-form">
            <div class="contact-form-title">
                <!-- Title -->
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Ім’я">
                        <!--</div>-->
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <input type="text" name="contact_email" value="" required="required" placeholder="Електронна адреса">
                        <!--</div>-->
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Номер телефону" class="tel-mask">
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span> Отправить заявку  </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</section>