<section id="section-2" class="section-2">

    <div class="mbox2">

        <div class="content-box">

            <div class="title-box">
                <h2>Концепція</h2>
            </div>
            <div class="text-box">
                <p>Ми взяли кращі європейські традиції конструювання і будівництва житла та обережно їх перенесли у Хмельницький.</p>
                <p>Перші поверхи житлового комплексу <span>“Празький”</span> займатимуть закритий паркінг і комерційні приміщення. </p>
                <p><span>Житловий комплекс “Празький”</span> один з перших у Хмельницькому будує житло, яке використовуватиме сонячні панелі для освітлення прибудинкової території та внутрішніх площ загального користування.</p>
            </div>
            <a href="#" class="button">Детальніше</a>
        </div>

        <div class="img-box">
            <img src="images/secton-2-img.jpg" alt="inages">
        </div>

    </div>

</section>