<section class="section-5">

    <div class="mbox2">

        <div class="title-box">
            <h2>інфраструктура</h2>
        </div>

        <div class="content-box">

            <div class="map-img-box">
                <h3>Мікрорайон Озерна</h3>
                <img src="../images/map-image.png" alt="image">
            </div>

            <div class="list-box">
                <ul>
                    <li>ЖК «Празький»</li>
                    <li>ТЦ «Агора»</li>
                    <li>Дитячий садочок №56 «Боровичок» </li>
                    <li>Приватний дитячий садочок «Щасливе дитинство»</li>
                    <li>Школа № 28</li>
                    <li>Музична школа</li>
                    <li>Ресторан «Три ведмеді»</li>
                    <li>Нічний клуб «Шторм»</li>
                    <li>Озеро</li>
                    <li>Ліс</li>
                </ul>
            </div>

        </div>
    </div>

</section>