<section id="section-3" class="section-3">

    <div class="mbox2">

        <div class="title-box">
            <h2>переваги</h2>
        </div>

        <div class="items-box">

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-1.png" alt="image">
                </div>
                <p>Консьєрж</p>
                <p class="hiden-text">Територія ЖК “Празький” закрита. Ваш спокій оберігатиме консьєрж. Якщо бажаєте здавати квартиру в оренду - наш консьєрж завжди за нею догляне.</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-2.png" alt="image">
                </div>
                <p>Закритий паркінг</p>
                <p class="hiden-text">У ЖК “Празький” буде закритий дворівневий паркінг із цілодобовим відеоспостереженням, де передбачено місце для
автомобіля кожного власника
квартири чи комерційної</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-3.png" alt="image">
                </div>
                <p>Сертифікація матеріалів</p>
                <p class="hiden-text">Сьогодні важливу роль в житловому будівництві відіграють енергозберігаючі, якісні, надійні та довговічні сертифіковані матеріали. Саме такі метеріали використовуються
у ЖК “Празький”</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-4.png" alt="image">
                </div>
                <p>Відеоспостереження</p>
                <p class="hiden-text">Територія ЖК “Празький” матиме цілодобове
відеоспостереження.
Це забезпечить мешканців безпекою та комфортом.</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-5.png" alt="image">
                </div>
                <p>Індивідуальне розведення електроенергії</p>
                <p class="hiden-text">Для кожного мешканця ЖК “Празький” передбачено безкоштовний індивідуальний проект розведення електрики трьохжильним якісним мідним дротом. Після придбання
квартири нічого не потрібно буде перебляти!</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-6.png" alt="image">
                </div>
                <p>Двотарифні лічильники</p>
                <p class="hiden-text">У кожній квартирі встановлюються двотарифні електричні лічильники що забезпечують мешканців додатковими можливостями заощаджувати на сплаті комунальниих послуг. Із 23:00 до 7:00 Ви сплачуватимете за електроенергію вдвічі менше</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-7.png" alt="image">
                </div>
                <p>Повний пакет дозвільних документів</p>
                <p class="hiden-text">ЖК “Празький” має повний пакет дозвільних документів, які є у відкритому доступі. Це дає впевненність, що будинок здадуть у зазначений термін включно з усіма комунікаціями.</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-8.png" alt="image">
                </div>
                <p>Тепла підлога</p>
                <p class="hiden-text">У кожній квартирі ЖК “Празький” буде вмонтована система “тепла підлога”, що забезпечить власників
додатковим комфортом</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-9.png" alt="image">
                </div>
                <p>Шпаклівка стін</p>
                <p class="hiden-text">Квартири в ЖК “Празький” матимуть рівну шпаклівку стін, достатню для поклейки шпалер чи фарбування.</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-10.png" alt="image">
                </div>
                <p>Якісні вхідні двері</p>
                <p class="hiden-text">Квартири у житловому
комплексі “Празький” 
матимуть якісні вхідні двері,
які не потребуватимуть заміни</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-11.png" alt="image">
                </div>
                <p>Індивідуальне опалення</p>
                <p class="hiden-text">З індивідуальним опаленняи Ви завжди самі визначатимете температурний режим 
у квартирі і витрати за тепло</p>
            </div>

            <div class="item">
                <div class="img-box">
                    <img src="../images/s3-icon-12.png" alt="image">
                </div>
                <p>Енерго- заощаджувальні технології</p>
                <p class="hiden-text">У ЖК “Празький” використовуються сучасні технології.
Встановлюються сонячні панелі, енергія яких буде забезпечувати опалення та освітлення паркінгу і під’їздів</p>
            </div>

        </div>

    </div>

</section>