<section class="section-8">

    <div class="mbox2">

        <div class="title-box">
            <h2>Техніко-економічні показники</h2>
        </div>

        <div class="content-box">
            
            <div class="list-box">
                <ul>
                    <li><span>Площа ділянки забудови</span> — 0,16 га</li>
                    <li><span>Кількість під’їздів</span> — 1</li>
                    <li><span>Здача в експлуатацію</span> — 4-й квартал 2018 р.</li>
                    <li><span>Кількість квартир</span> — 35</li>
                    <li><span>Паркінг </span>— 24 місця</li>
                    <li><span>Висота поверху</span> — 2,7 м</li>
                    <li><span>Поверховість</span> — паркінг, 2 поверхи комерції, 5 житлових поверхів</li>
                </ul>
                <a href="#" class="button">Завантажити детальну інформацію </a>
            </div>

            <div class="img-box">
                <img src="../images/secton-8-img.jpg" alt="inages">
            </div>

        </div>

        

    </div>

</section>